In [ ]:
!sudo apt-get install python3-dev default-libnysqlclient-dev
!pip install pymysql sqlalchemy

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package default-libnysqlclient-dev
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
MYSQL_HOSTNAME = '34.135.45.29' # you probably don't need to change this
MYSQL_USER = 'pierre'
MYSQL_PASSWORD = 'pierre718'
MYSQL_DATABASE = 'db1'

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
connection_string

'mysql+pymysql://pierre:pierre718@34.135.45.29/db1'

In [ ]:
db = create_engine(connection_string)

In [ ]:
db

Engine(mysql+pymysql://pierre:***@34.135.45.29/db1)

In [27]:
query = 'select * from db1.UEFA;'
query

'select * from db1.UEFA;'

In [28]:
df = pd.read_sql(query, con=db)

In [29]:
df

Empty DataFrame
Columns: [GroupA, GroupB, GroupC, GroupD]
Index: []

In [32]:
real_df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA-507-2022/main/descriptive/example1/data/test.csv')

In [33]:
real_df

,Unnamed: 0,Unnamed: 1,Grouped by mortality,Grouped by mortality.1,Grouped by mortality.2,Grouped by mortality.3
0,NaN,NaN,Missing,Overall,0,1
1,n,NaN,NaN,1000,864,136
2,"Age, mean (SD)",NaN,0,65.0 (17.2),64.0 (17.4),71.7 (14.0)
3,"SysABP, mean (SD)",NaN,291,114.3 (40.2),115.4 (38.3),107.6 (49.4)
4,"Height, mean (SD)",NaN,475,170.1 (22.1),170.3 (23.2),168.5 (11.3)
5,"Weight, mean (SD)",NaN,302,82.9 (23.8),83.0 (23.6),82.3 (25.4)
6,"ICU, n (%)",CCU,0,162 (16.2),137 (15.9),25 (18.4)
7,"ICU, n (%)",CSRU,NaN,202 (20.2),194 (22.5),8 (5.9)
8,"ICU, n (%)",MICU,NaN,380 (38.0),318 (36.8),62 (45.6)
9,"ICU, n (%)",SICU,NaN,256 (25.6),215 (24.9),41 (30.1)
10,"mortality, n (%)",0,0,864 (86.4),864 (100.0),NaN
11,"mortality, n (%)",1,NaN,136 (13.6),NaN,136 (100.0)

In [35]:
real_df.to_sql('some_table', con=db, if_exists='replace')